@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

/* completa tu codigo aqui */
li{
	display: block;
}
.box{
	width: 120px;
	height: 80px;
	background-color: black;
	display:none;
	margin-left: 120px;
	padding-top:40px;

}
a:hover .box{
	display: block;
}
.color{
	width: 120px;
	height: 120px;
	display: table-cell;
	text-decoration: none;
	font-family: "Dosis";
	font-size: 30px;
}
.azul{
	background-color:#6152E4;
	color:#6152E4;
}
.celeste{
	background-color:#52E4DC;
	color:#52E4DC;
}
.naranja{
	background-color:#E4CB52;
	color:#E4CB52;
}
.rosado{
	background-color:#E271F3;
	color:#E271F3;
}